<%- include('../partials/header') %> 
    <ul>
        <% skatespots.forEach(function(s) { %>
            <li>
                <a href="/skatespots/<%= s.id %>"><%= s.skatespot %></a>
                <form action="/skatespots/<%= s.id %>?_method=DELETE" class="delete-form" method="POST">
                    <button type="submit">X</button>
                </form>
                  <%= s.skatespots %>
                </a>

                - 
                <%= s.done ? 'done' : 'not done' %>
            </li>
        <% }); %>
    </ul>
<%- include('../partials/footer') %>
